.background{
    /* background-image: url("https://i.ibb.co/G0Fm91h/Screenshot-2023-11-05-230310.png"); */
    background-image: url("https://i.ibb.co/R3KLwpS/Screenshot-2023-11-05-232538.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

