.background{
    /* background-image: url("https://i.ibb.co/G0Fm91h/Screenshot-2023-11-05-230310.png"); */
    background-image: url("https://i.ibb.co/WftBrWW/Screenshot-2023-11-06-152512.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2px 0px 0px 0px;
}

